<div class="card">

    <div class="card-body">
        <div class="row">
            <span class="commenter-profile-container">
                <%= image_tag("default-profile-pic.png", class: "comment-user-image")%>
            </span>
            <div class="col-md-6">
                <div class="row">
                    <h6 class="author-name">Samson Petrosyan</h6>
                </div>
                <div class="row">
                    <p class="text-secondary"><i>Graduate Student at UC Berkeley</i></p>
                </div>
            </div>
        </div>
        <blockquote class="blockquote mb-0">
        <p>I think this is a fantastic work -- might be a bit hard to characterize it, but I am sure you will figure it out!</p>
        </blockquote>
        <div class="comment-date-time-container">
            <i class="text-secondary">January 27th, 2022</i>
        </div>
    </div>
    
</div>