<head>
  <title>NanoFrame</title>
  <%= render "layouts/scripts"%>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <%= render partial: "layouts/nav", locals: {tab: "synthesizer"}%>
  <h1>Make Custom Shapes</h1>
  <%= render "layouts/footer"%>
</body>

</html>