<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project Nanoframe</title>
    
    <!-- Stylesheet Links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <!-- Script Links-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://threejs.org/build/three.js"></script>
    <%= javascript_pack_tag 'nanobot', 'data-turbolinks-track': 'reload' %>   
    
    <%= stylesheet_link_tag 'application', media: 'all' %> 
    </head>  
  <body>

      

    <div class="menu-items">
      <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">The Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nanofont" href="/nanobot">The Nanobot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    

    <!-- End of NAVBAR-->
    
    <!-- Start of Synthesizer Selection-->
    <div class="row selection-menu">
      <div class="col-md-6 synthesizer-container">
        <canvas id="synthesizer"></canvas>
        
      </div>
      <div class="col-md-6">
        <div class="synthesizer-header">
          <h3>Select Synthesizing Options</h3>
        </div>
        <div class="shape-dropdown">
          <select id="synthesizer-shape" class="form-select" aria-label="Default select example">
            <option value="0" selected disabled>The Desired 3D Object</option>
            <option value="1">Cube</option>
            <option value="2">Sphere</option>
            <option value="3">Cylinder</option>
            <option value="4">Cone</option>
            <option value="5">Polyhedron</option>
            <option value="6">Tetrahedron</option>
            <option value="7">Octahedron</option>
            <option value="8">Icosahedron</option>
            <option value="9">Dodecahedron</option>
          </select>
        </div>
        <div class="row color-scaffold-select">
          <div class="col-md-5 color-select">
            <div class="row">
              <div class="col-md-7">
                <span class="input-group-text">Color</span>
              </div>
              <div class="col-md-5">
                <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#000000">
              </div>
            </div>
          </div>
          <div class="col-md-7 scaffold-select">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">8064 nucleotides scaffold</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked>
              <label class="form-check-label" for="inlineRadio2">7249 nucleotides scaffold</label>
            </div>
          </div>
        </div>
        <div class="dimension-picker">
          <p class="dimension-text"></p>
          <div class="height-container dimension-container">
            <div class="input-group dimension-input-container">
              <span class="input-group-text w-25">Height</span>
              <input type="text" class="dimension-input height-input form-control" placeholder="50" aria-label="height">
            </div>
          </div>
          <div class="width-container dimension-container">
            <div class="input-group dimension-input-container">
              <span class="input-group-text w-25">Width</span>
              <input type="text" class="dimension-input width-input form-control" placeholder="50" aria-label="width">
            </div>
          </div>
          <div class="depth-container dimension-container">
            <div class="input-group dimension-input-container">
              <span class="input-group-text w-25">Depth</span>
              <input type="text" class="dimension-input depth-input form-control" placeholder="50" aria-label="depth">
            </div>
          </div>
          <div class="radius-container dimension-container">
            <div class="input-group dimension-input-container">
              <span class="input-group-text w-25">Radius</span>
              <input type="text" class="dimension-input radius-input form-control" placeholder="50" aria-label="radius">
            </div>
          </div>
          <div class="rs-container dimension-container">
            <div class="input-group dimension-input-container">
              <span class="input-group-text w-25">Radial Segment</span>
              <input type="text" class="dimension-input rs-input form-control" placeholder="50" aria-label="radial segment">
            </div>
          </div>
          <div class="rt-container dimension-container">
            <div class="input-group dimension-input-container">
              <span class="input-group-text w-25">Radius Top</span>
              <input type="text" class="dimension-input rst-input form-control" placeholder="50" aria-label="radial segment">
            </div>
          </div>
          <div class="rb-container dimension-container">
            <div class="input-group dimension-input-container">
              <span class="input-group-text w-25">Radius Bottom</span>
              <input type="text" class="dimension-input rsb-input form-control" placeholder="50" aria-label="radial segment">
            </div>
          </div>
          <div class="detail-container dimension-container">
            <div class="input-group dimension-input-container">
              <span class="input-group-text w-25">Detail</span>
              <input type="text" class="dimension-input detail-input form-control" placeholder="50" aria-label="radial segment">
            </div>
          </div>
          <div class="ws-container dimension-container">
            <div class="input-group dimension-input-container">
              <span class="input-group-text w-25">Width Segment</span>
              <input type="text" class="dimension-input ws-input form-control" placeholder="50" aria-label="radial segment">
            </div>
          </div>
          <div class="hs-container dimension-container">
            <div class="input-group dimension-input-container">
              <span class="input-group-text w-25">Height Segment</span>
              <input type="text" class="dimension-input hs-input form-control" placeholder="50" aria-label="radial segment">
            </div>
          </div>
        </div>
        <div class="synthesizer-btn-container">
          <button type="button" class="synthesizer-btn btn btn-secondary btn-lg w-50" disabled>Synthesize</button>
        </div>
      </div>

    </div>

    
    <!-- End of Synthesizer Selection-->


    <!-- Start of Synthesizer-->
    <%# <iframe width="200"> %>
    <%# </iframe>  %>
     <!-- End of Synthesizer-->

    <!-- Start of FOOTER-->
    <div class="container" id="footer">
      <hr class="my-4">
    
      <div class="footer-copyright text-center py-3">
        <div class="copyright">
          <p>© 2021 <a href="https://tilabberkeley.com/">Ti Lab</a> @ Berkeley</p>
        </div> 
      </div>
    </div> 
    <!-- End of FOOTER-->
    <%= javascript_pack_tag 'model', 'data-turbolinks-track': 'reload'%>
  </body>
</html>