<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project Nanoframe</title>
    
    <!-- Stylesheet Links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <!-- Script Links-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://threejs.org/build/three.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
   
  </head>
  <body>
    <!-- Start of NAVBAR-->
    <div class="row">

      <div class="col-md-6">
      <% if logged_in? %>
        <div class="row">
           <div class="col-md-3">
            <div class="logged-in-profile-image">
              <%= link_to image_tag("default-profile-pic", class: "profile-picture"), "/profile" %>
            </div>
           </div>
           <div class="col-md-9">
            <div class="logged-in-profile-id">
              <h5 class="nunito"><%= @current_user.name%></h5>
              <h6><i>Student @ UC Berkeley</i></h6>
            </div>
           </div>
          <%# <a class="btn btn-danger" id="signOutButton" href="/signout">Sign Out</a>  %>
        </div>
      <% else %>
        <div class="sign-in-container">
          <form action='/signin' method='GET' class="row g-3">
            <div class="col-auto">
              <label for="staticEmail2" class="visually-hidden">Email</label>
              <input type="text" class="form-control" id="staticEmail2" placeholder="Username" name="user[login_username]">
            </div>
            <div class="col-auto">
              <label for="inputPassword2" class="visually-hidden">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Password" name="user[login_password]">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-dark mb-3">Log In</button>
            </div>
          </form>
        </div>
      <% end %>
      </div>

      <div class="col-md-6 menu-items">
        <ul class="nav nav-tabs justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">The Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active nanofont" href="/nanobot">The Nanobot</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- End of NAVBAR-->

    <!-- Start of Synthesizer Selection-->
    <div class="selection-menu">
      <div class="synthesizer-header">
        <h3>Select Synthesizing Options</h3>
      </div>
      <div class="shape-dropdown">
        <select class="form-select" aria-label="Default select example">
          <option selected>The Desired 3D Object</option>
          <option value="1">Cube</option>
          <option value="2">Prism</option>
          <option value="3">Tetrahedron</option>
        </select>
      </div>
      <div class="row color-scaffold-select">
        <div class="col-md-5 color-select">
          <div class="row">
            <div class="col-md-7">
              <span class="input-group-text">Select a Color</span>
            </div>
            <div class="col-md-5">
              <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#000000">
            </div>
          </div>
        </div>
        <div class="col-md-7 scaffold-select">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">8064 nucleotides scaffold</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked>
            <label class="form-check-label" for="inlineRadio2">7249 nucleotides scaffold</label>
          </div>
        </div>
      </div>
      <div class="dimension-picker">
        <div class="input-group mb-3">
          <span class="input-group-text">Height (nm)</span>
          <input type="text" class="form-control" placeholder="50" aria-label="Username">
          <span class="input-group-text">Width (nm) </span>
          <input type="text" class="form-control" placeholder="50" aria-label="Server">
          <span class="input-group-text">Length (nm)</span>
          <input type="text" class="form-control" placeholder="50" aria-label="Server">
        </div>
      </div>

    </div>
    <!-- End of Synthesizer Selection-->


    <!-- Start of Synthesizer-->
    <%# <iframe width="200"> %>
      <canvas id="synthesizer"></canvas>
      <%= javascript_pack_tag 'synthesizer', 'data-turbolinks-track': 'reload' %>
    <%# </iframe>  %>
     <!-- End of Synthesizer-->

    <!-- Start of FOOTER-->
    <div class="container" id="footer">
      <hr class="my-4">
    
      <div class="footer-copyright text-center py-3">
        <div class="copyright">
          <p>© 2021 <a href="https://tilabberkeley.com/">Ti Lab</a> @ Berkeley</p>
        </div> 
      </div>
    </div> 
    <!-- End of FOOTER-->

  </body>
</html>