<h1>Reset your password for NanoFrame</h1>
<p>
    Hi <%= @user.name%>,
</p>
<p>
    We received a request for a new password from your account. Here's your code.
</p>
<h2>
    <%= @password_reset_code %>
</h2>
<p>
If you didn't ask to change your password, you should change it for a good measure!
</p>
<p>
Thanks,
</p>
<p>
NanoFrame Team
</p>
