<h1>Welcome to nanoframe.org, <%= @user.name %>!</h1>
  <p>
    You have successfully signed up to nanoframe.org,
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
<p>
Thanks,
NanoFrame Team
</p>
