<head>
  <title>NanoFrame</title>
  <%= render "layouts/scripts"%>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
  <!-- Start of NAVBAR-->
  <%= render partial: "layouts/nav", locals: {tab: "other"}%>
  <!-- End of NAVBAR-->
</body>