/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$predominant: #222831;
$dominant: #393E46;
$preauxiliary: #C9D6DF;
$auxiliary: #F0F5F9;

.btn-dominant {
    border-color: $dominant;
    background-color: $dominant;
    color: $auxiliary;
}

.btn-dominant:hover {
    border-color: $predominant;
    background-color: $predominant;
    color: $auxiliary;
}

.btn-auxiliary {
    border-color: $predominant;
    background-color: $auxiliary;
    color: $predominant;
}

.btn-auxiliary:hover {
    border-color: $predominant;
    background-color: $preauxiliary;
    color: $predominant;
}

.btn-twitter-outline {
    border-color: #1DA1F2;
    background-color: white;
    color: #1DA1F2;
}

.btn-twitter-outline:hover {
    border-color: #1DA1F2 !important;
    background-color: #1DA1F2 !important;
    color: #F5F8FA !important;
}

.btn-google-outline {
    border-color: #DB4437;
    background-color: white;
    color: #DB4437;
}

.btn-google-outline:hover {
    border-color: #DB4437 !important;
    background-color: #DB4437 !important;
    color: #F5F8FA !important;
}