.delete-comment-icon {
	background: none;
	color: inherit;
	border: none;
    float: right;
	padding: 0;
}

.edit-comment-icon {
    background: none;
	color: inherit;
	border: none;
    float: right;
	padding: 0;
}

.update-comment-button-container {
	text-align: right;
}

.cancel-update-comment-button-container {
	text-align: right;
}

#update_comment_button {
	margin: 1% 0;
}

#cancel_comment_update_button {
	margin-bottom: 1%;
}

.clean-button {
	background: none;
	color: inherit;
	border: none;
    float: right;
	padding: 0;
}
