.delete-comment-icon {
	background: none;
	color: inherit;
	border: none;
    float: right;
	padding: 0;
}

.edit-comment-icon {
    background: none;
	color: inherit;
	border: none;
    float: right;
	padding: 0;
}