// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*
 *= require_tree .
 *= require_self
 */

 .selection-menu {
     margin: 5% 0;
     
     //margin-left: 55%;
     //margin-right: 5%;
     //width: 40%;
     //height: 1000px;
 }

 .color-scaffold-select {
     padding-top: 2%;
     padding-bottom: 2%;
 }

 .scaffold-select {
    margin-top: .5%;
    //vertical-align: middle;
 }

 .synthesizer-header {
     margin-bottom: 5%;
 }

 .sz {
     width: 80%;
 }

 .dimension-text {
     display: none;
 }

 .synthesizer-btn-container {
     text-align: center;
     padding: 5% 0;
 }

 .synthesizer-btn {
    font-family: 'Syne Mono', monospace;
 }

 .selection-menu {
     //position: absolute;
 }

 #synthesizer {
    width: 500px;
    //height: auto;
 }

 .dimension-picker {
     //display: none;
 }

 .dimension-input{
     text-align: right;
 }

.height-container {
    display: none;
}
.width-container {
    display: none;
}
.depth-container {
    display: none;
}
.radius-container {
    display: none;
}
.rs-container {
    display: none;
}
.rt-container {
    display: none;
}
.rb-container {
    display: none;
}
.detail-container {
    display: none;
}

.ws-container {
    display: none;
}

.hs-container {
    display: none;
}

.tube-container {
    display: none;
}

.tubular-container {
    display: none;
}

.p-container {
    display: none;
}

.q-container {
    display: none;
}

.dimension-container {
    padding: 1%;
}
.synthesizer-container {
    margin: 5% 0;
    //position: relative;
}

#synthesizer {
    width: 100%;
    height: auto;
    //padding: 50px 0;
    //padding: 5% 0;
}

