// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*
 *= require_tree .
 *= require_self
 */

 .selection-menu {
     margin-top: 5%;
     margin-bottom: 2%;
 }

 .color-scaffold-select {
     padding-top: 2%;
     padding-bottom: 2%;
 }

 .scaffold-select {
    text-align: center;
    margin-top: 3%;
 }

 .synthesizer-header {
     text-align: center;
     margin-bottom: 5%;
 }

 .sz {
     width: 80%;
 }

 .dimension-text {
     display: none;
 }

 .synthesizer-btn-container {
     text-align: center;
     padding: 5% 0;
 }

 .synthesizer-btn {
    font-family: 'Syne Mono', monospace;
 }

 .dimension-picker {
     padding: 0 5%;
 }

 .dimension-input{
     
     text-align: center;
 }


.dimension-wrapper-container {
    padding: 1%;
}

.dimension-container {
    
    display: none;
}
.synthesizer-container {
    margin-top: 5%;
}

#synthesizer {
    width: 100%;
    height: auto;
}

.generator-container {
    height: auto;
    text-align: center;
}

#generator {
    width: 100%;
    height: auto;
}


.middle-hr {
    margin: 0 20%;
}

.generator-text {
    text-align: center;
    font-family: 'Syne Mono', monospace;
    font-size: 32px;
}

.generate-download-txt {
    width: 20px;
}


.fc-flurry {
    width: 20px;

}

.back-container  {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 7%;
    text-align: left;
    font-size: 22px;
}

.forward-container {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: right;
    margin-right: 7%;
    font-size: 22px;
}

.back-anchor {
    text-decoration: none;
}

.email-confirm-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    opacity: 1;
    filter: alpha(opacity=100);
}

.shape-dropdown {
    padding: 0 5%;
}

.save-container {
    position: absolute;
    top: 17%;
    right: 5%;
}

#molstar-viewer {
    width: 100%;
    height: 100%;
}

.datGUI { 
    float: right;
}

.random-sequence-container {
    text-align: center;
    padding: 1% 0;
}


.sequence-container {
    padding: 0 5%;
}

.body-navbar {
    text-align: center !important;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 20px;
}

.outer-menu-container {
    margin-bottom: 5%;
}


.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg.main .close-button {
    background-color: #ccc;
}
 
.dg.main .close-button:hover {
    background-color: #ddd;
}

.dg {
    color: #555;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}
 
.dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}
 
.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff;
}
 
.dg .c input[type=text] {
    background: #e9e9e9;
}
 
.dg .c input[type=text]:hover {
    background: #eee;
}
 
.dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
}
 
.dg .c .slider {
    background: #e9e9e9;
}

.dg .c .slider:hover {
    background: #eee;
}

.viewer-container {
    // width: 20%;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: x-large;
}

.iframe-viewer {
    padding-top: 2%;
    width: 100%;
    height: 1000px;
}

.compile-sign-up-form {
    padding: 4% 10%;
}

.compile-sign-up-outer-container {
    margin-top: 5%;
    // background-color: white;
    // border-radius: 2%;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    opacity: 1;
    filter: alpha(opacity=100);
}

.compile-header {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.compile-subtitle {
    margin-left: 10%;
    color: #555;
}

#router-webgl {
    width: 100%;
    height: auto;
}

#visualize-webgl {
    width: 100%;
    height: auto;
}

.up-button-container {
    text-align: center;
}

.down-butoon-container {
    text-align: center;
}

.left-key-container {
    // text-align: center;
    // justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.right-key-container {
    // text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);

}


$btn-size:                100px;
$btn-arrowsize:           $btn-size / 4;

// Button colors
$btn-color:               #111;
$btn-bg:                  white;
$btn-border:              white;

// Button hover colors
$btn-hover-color:         #111;
$btn-bg-hover:            white;
$btn-hover-border-color:  #111;

.arrowbtn {
  width: $btn-size;
  height: $btn-size;
  background: $btn-bg;
  border: 2px solid $btn-border;
  border-radius: $btn-size;
  color: $btn-color;
  cursor: pointer;
  line-height: $btn-size;
  margin-left: -($btn-size / 2);
  transition: all 0.25s ease-in-out;
  &:hover {
    background: $btn-bg-hover;
    border-color: $btn-hover-border-color;
    color: $btn-hover-color;
  }
  &:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: $btn-arrowsize;
    height: $btn-arrowsize;
  }
}

.arrowbtn-up {
  top: 20px;
  &:after {
    margin-left: -($btn-arrowsize * .5);
    margin-top: -($btn-arrowsize * .25);
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotateZ(45deg);
  }
}

.arrowbtn-down {
  bottom: 20px;
  &:after {
    margin-left: -($btn-arrowsize * .5);
    margin-top: -($btn-arrowsize * .75);
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotateZ(45deg);
  }
  
}

.arrowbtn-left {
    // position: relative;
    left: 20px;
    // top: 50%;
    // left: 50%;
    // left: 20px;
    &:after {
      margin-left: -($btn-arrowsize * .25);
      margin-top: -($btn-arrowsize * .5);
      border-bottom: 2px solid;
      border-right: 2px solid;
      transform: rotateZ(135deg);
    }
}

.arrowbtn-right {
    // position: relative;

    // top: 50%;
    // left: 50%;
    // left: 20px;
    right: 20px;
    &:after {
      margin-left: -($btn-arrowsize * .75);
      margin-top: -($btn-arrowsize * .5);
      border-bottom: 2px solid;
      border-right: 2px solid;
      transform: rotateZ(-45deg);
    }
}

.edit-container {
    // text-align: left;
    position: absolute;
    left: 7%;
    // top: 20%
    width: 20%;
}

.edit-btn {
    text-align: left;
}


.sub-menu-item {
    padding-left: 40px;

}