// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*
 *= require_tree .
 *= require_self
 */

 .selection-menu {
     margin-top: 5%;
     margin-bottom: 2%;
 }

 .color-scaffold-select {
     padding-top: 2%;
     padding-bottom: 2%;
 }

 .scaffold-select {
    margin-top: .5%;
 }

 .synthesizer-header {
     margin-bottom: 5%;
 }

 .sz {
     width: 80%;
 }

 .dimension-text {
     display: none;
 }

 .synthesizer-btn-container {
     text-align: center;
     padding: 5% 0;
 }

 .synthesizer-btn {
    font-family: 'Syne Mono', monospace;
 }

 .dimension-picker {
     padding: 0 5%;
 }

 .dimension-input{
     text-align: center;
 }

.height-container {
    display: none;
}
.width-container {
    display: none;
}
.depth-container {
    display: none;
}
.radius-container {
    display: none;
}
.rs-container {
    display: none;
}
.rt-container {
    display: none;
}
.rb-container {
    display: none;
}
.detail-container {
    display: none;
}

.ws-container {
    display: none;
}

.hs-container {
    display: none;
}

.tube-container {
    display: none;
}

.tubular-container {
    display: none;
}

.p-container {
    display: none;
}

.q-container {
    display: none;
}

.dimension-container {
    padding: 1%;
}
.synthesizer-container {
    margin-top: 5%;
    //position: relative;
}

#synthesizer {
    width: 100%;
    height: auto;
}

.generator-container {
    //display: none;
    text-align: center;
}

#generator {
    width: 100%;
    height: auto;
}

.generator-outer-container {
    visibility: hidden;
}

.middle-hr {
    margin: 0 20%;
}

.generator-text {
    text-align: center;
    font-family: 'Syne Mono', monospace;
    font-size: 32px;
}

.generate-download-txt {
    width: 20px;
}

.generator-download-container {
    display: none;
}

.useless-sidebar {
    background-color: white;
}

.furo-wrapper {
    padding-top: 5%;
}


