// Place all the styles related to the guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.docs-sidebar-container {
    padding: 4% 2%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.docs-header-container {
    text-align: center;
    padding-bottom: 3%;
}

.nanoframe-doc-item:hover {
    background-color: #00ADB530;
    // opacity: 0.2;
}

.nanoframe-doc-selected-item {
    background-color: #00ADB530;
    // opacity: ;
}

.nanoframe-doc-link {
    display:block;
}

.page-container {
    padding: 4%;
}

.page-title-container {
    text-align: center;
}

.page-body-text {
    text-align: justify;
}

.docs-header-link {
    text-decoration: none;
    color: #00ADB5;
}

.docs-header-link:hover {
    color: #393E46;
}

.page-body-container {
    padding: 5% 0;
}

.page-body-image-container {
    text-align: center;
    padding: 1% 0;
}

.page-code-section {
    text-align: center;
    padding: 1% 0;
}
