.poster-container {
    padding: 5% 5%;
}

.poster-header-container {
    text-align: center;
    padding-bottom: 3%;
}
.user-image-container {
    text-align: center;
}
.user-image {
    width: 80%;
}

.toe-image {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cage-image {
    width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.object-image {
    width: 50%;
}

.object-image-container {
    text-align: center;
}

.playground-container {
    padding-top: 5%;
}