// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*
 *= require_tree .
 *= require_self
 */
 //body {
    //background-image: linear-gradient(#dddddd, #f9f3f3);
 //}

 body {
     background-color: #F8F8F8;
 }

 .sign-up-form {
     //margin-left: 30%;
     //margin-top: 10%; //20
     //padding-left: 30%; //10
     //padding-right: 30%; //10
 }

 .sign-up-form-header {
     text-align: center;
     margin-bottom: 5%;
     font-family: 'Syne Mono', monospace;
 }

 .guest-form {
    //margin-left: 30%;
    //padding-left: 30%;
    //padding-right: 30%;
 }

 .guest-from-label {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
 }

 .separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Syne Mono', monospace;
  }
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
  
.separator:not(:empty)::before {
    margin-right: 1.5em;
}
  
.separator:not(:empty)::after {
    margin-left: 1.5em;
}

.nanofont {
    font-family: 'Syne Mono', monospace;
}

// .login-username {
//     //width: 200px;
// }

// .login-password {
//     float: left;
//     //width: 20px;
// }
.profile-picture {
    width: 65px;
    border-radius: 50%;
}
.sign-in-container {
    padding-top: 3%;
    padding-left: 10%;
}
.logged-in-profile-id {
    margin-top: 15px;
}
.logged-in-profile-image {
    margin-top: 15px;
    margin-left: 50px;
    //float: left;
}
.menu-items {
    padding-top: 2%;
    padding-right: 2%;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}
.transparent-layer {
    z-index: 2;
    //background-color: rgba(255, 255, 255, 0.8);
    //width: max-content;
    //padding-top: 30px;
    //padding-bottom: 30px;
    //margin-top: 10%;
    //margin-right: 5%;
    //float: right;
     margin-left: 30%;
     margin-right: 5%;
     margin-top: 10%; //20
     padding-left: 30%; //10
     //padding-right: 30%;
}
canvas {
    //padding-top: 2%;
	width: 200px;
	height: 200px;
    //background-color: #000000 ;
}
#artifactCanvas {
    //width: 100%;
    margin-top: 5%;
    z-index: -1;
    position: absolute;
}

.forgot-password-container {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.sign-in-container {
    padding: 4% 6%;
    background-color: white;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
