// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*
 *= require_tree .
 *= require_self
 */
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.sign-up-outer-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  opacity: 1;
  filter: alpha(opacity=100);
}

.sign-up-form {
  padding: 4% 6%;
}

.sign-up-form-header {
  text-align: center;
  padding-bottom: 5%;
  font-family: "Syne Mono", monospace;
}

.sign-up-btn-container {
  padding-top: 5%;
  text-align: center;
}

.guest-from-label {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Syne Mono", monospace;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: 1.5em;
}

.separator:not(:empty)::after {
  margin-left: 1.5em;
}

.nanofont {
  font-family: "Syne Mono", monospace;
}

.close-btn {
  float: right;
  width: 15px;
  margin: 3%;
}

.profile-picture {
  width: 65px;
  border-radius: 50%;
}

.sign-in-container {
  padding-top: 3%;
  padding-left: 10%;
}

.logged-in-profile-id {
  margin-top: 15px;
}

.logged-in-profile-image {
  margin-top: 15px;
  margin-left: 50px;
}

.menu-items {
  padding-top: 2%;
  padding-right: 2%;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

.transparent-layer {
  z-index: 2;
  margin-left: 30%;
  margin-right: 5%;
  margin-top: 10%;
  padding-left: 30%;
}

.forgot-password-container {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.sign-in-container {
  padding: 4% 6%;
  background-color: white;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signout-link-container {
  position: relative;
  text-align: right;
  padding-right: 5%;
  // top: 20%;
  // left: 85%;
}

.create-link-container {
  position: absolute;
  top: 20%;
  right: 5%;
}

.user-details-container {
  text-align: center;
}

.user-fullname {
  font-family: "Nunito", sans-serif;
}

.user-username {
  font-family: "Syne Mono", monospace;
  color: #0d6efd;
}

.switch-field {
  display: flex;
  margin-bottom: 36px;
  justify-content: center;
}

.radio-label {
  width: 20%;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.2s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #cdf0ea;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.public-png {
  width: 25px;
}

.private-png {
  width: 25px;
}

.history-png {
  width: 25px;
}

.user-portrait {
  width: 15%;
  border-radius: 50%;
}

.user-portrait-mask {
  margin: 3% 0;
}

.landscape {
  height: 100%;
}

.portrait {
  width: 100%;
}

.user-portrait:hover {
  opacity: 0.7;
}

.profile-container {
  text-align: center;
  // width: 50%;
}

.file-upload {
  display: none;
}

.about-image {
  margin: 5% 5%;
  width: 40%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.about-text-cell {
  text-indent: 5%;
  margin-top: 10%;
  margin-left: 5%;
  line-height: 2em;
  text-align: justify;
}

.about-text-lab {
  text-indent: 5%;
  margin-top: 10%;
  margin-right: 5%;
  line-height: 2em;
  text-align: justify;
}

.about-text-view {
  text-indent: 5%;
  margin-top: 10%;
  margin-right: 5%;
  line-height: 2em;
  text-align: justify;
}

.about-container {
  text-align: center;
  margin-top: 10%;
}

.about-container-lab {
  text-align: center;
  margin-top: 15%;
}

.email-input-form {
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.submit-email-btn {
  margin-top: 5%;
  text-align: center;
}

.dna-mascot {
  width: 50%;
}

.dna-mascot-container {
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
}

.contact-us-header {
  margin-bottom: 5%;
  font-weight: 600;
}



#footer {
  background-color: white;
  // margin-top: 8%;
  margin-top:auto;
}

.dna-wrapper {
  position: absolute;
  width: 100%;
  top: 11%;
  z-index: -1;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }

  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }

  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }

  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }

  &:active {
    background: $button-active-blue;
  }
}

.github-sign-in-container {
  text-align: center;
}

.log-in-container {
  text-align: center;
}

.text-align-center {
  padding-right: 10%;
}

.design-container {
  position: relative;
  background-color: transparent;
  margin: 3% 5%;
}

.downloads-container {
  width: 100%;
  padding: 5% 0;
}

.item-description {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}

.date-description {
  text-align: right;
  padding: 0 5%;
}
.first {
  padding-top: 3%;
}
.edit-toolkit {
  text-align: right;
  padding: 0 5%;
}

.update-generator-btn {
  text-decoration: none;
  padding: 0 ;
  margin: 0 ;
}

.visibility-form {

}

.pagination-container {
  padding-top: 3%;
}

.content-container {
  padding: 5% 10%;
}

.small {
  width: 15px;
}

#homepage-canvas {
  position: absolute;
  left: 0;
  top: 0vh;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: -1;
}

.user-feed-container {
  position: relative;
}