// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*
 *= require_tree .
 *= require_self
 */
 //body {
    //background-image: linear-gradient(#dddddd, #f9f3f3);
 //}

 .sign-up-form {
     margin-left: 30%;
     margin-top: 10%; //20
     padding-left: 30%; //10
     padding-right: 30%; //10
 }

 .sign-up-form-header {
     text-align: center;
     margin-bottom: 5%;
     font-family: 'Syne Mono', monospace;
 }

 .guest-form {
    margin-left: 30%;
    padding-left: 30%;
    padding-right: 30%;
 }

 .guest-from-label {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
 }

 .separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Syne Mono', monospace;
  }
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
  
.separator:not(:empty)::before {
    margin-right: 1.5em;
}
  
.separator:not(:empty)::after {
    margin-left: 1.5em;
}

.nanofont {
    font-family: 'Syne Mono', monospace;
}

// .login-username {
//     //width: 200px;
// }

// .login-password {
//     float: left;
//     //width: 20px;
// }

.sign-in-container {
    padding-top: 3%;
    padding-left: 10%;
}

.menu-items {
    padding-top: 2%;
    padding-right: 2%;
}

a {
    text-decoration: none;
}