<%= stylesheet_link_tag 'application', media: 'all' %>
<%= render partial: "layouts/nav", locals: {tab: "other"} %>

<div class="row">
    <div class="docs-sidebar-container col-md-3">
        <%= render partial: "sidenav", locals: {main: "synthesizer", section: "advanced"} %>
    </div>
    <div class="col-md-9">
        <div class="page-container">
            <div class="page-title-container">
                <h3>Advanced</h3>
            </div>
            <div class="page-body-container">
            </div>
        </div>
    </div>
</div>
<%= render "layouts/footer" %>