<%= stylesheet_link_tag 'application', media: 'all' %>
<%= render partial: "layouts/nav", locals: {tab: "other"} %>

<div class="row">
    <div class="docs-sidebar-container col-md-3">
        <%= render partial: "sidenav", locals: {main: "home_feed", section: "feed"} %>
    </div>
    <div class="col-md-9">
    </div>
</div>
<%= render "layouts/footer" %>