  <div id="footer">
    <hr class="my-4">

    <div class="footer-copyright text-center py-3">
      <div class="copyright">
        <p>© 2022 <a href="https://tilabberkeley.com/">Ti Lab</a> @ Berkeley</p>
      </div>
    </div>
  </div>