    <div class="menu-items">
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link <%= "active nanofont" if tab=="home"%>" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= "active nanofont" if tab=="bot"%>" href="/nanobot">The NanoBot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= "active nanofont" if tab=="playground"%>" href="/playground">Playground</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= "active nanofont" if tab=="other"%>" href="/miscellaneous">Miscellaneous</a>
            </li>
        </ul>
    </div>